<h1>About Mardi Paws</h1>
<p>
  Mardi Paws is a teaching project for a Ruby on Rails bootcamp that I taught. This is the most recent iteration, and maybe my favorite since I got better at picking merchandise.
</p>
<p>
  To learn more about me, check out my <a href="http://siakaramalegos.github.io/">portfolio page</a>. To see the source code for this project, check out the <a href="https://github.com/siakaramalegos/mardi-paws">Github repo</a>.
</p>
<p>
  Thanks for checking this out!
  <br>
  Sia Karamalegos
</p>
