</div>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Welcome to Mardi Paws!</h1>
    <p>Dress your pup like every day is Mardi Gras.</p>
    <%= link_to "Shop Now!", shop_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>

<div class="container">