<h1>Checkout</h1>
<br>

<div class="row">
  <div class="col-sm-4">
    <p><em>Enter Your Details</em></p>
    <%= render 'form' %>
  </div>

  <div class="col-sm-8">
    <div class="well">
      <h2>Your Cart</h2>
      <%= render @cart %>
    </div>
  </div>
</div>
